name: CI
on: [push]

jobs:
  deploy:
    if: github.ref == 'refs/heads/dev'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Deploy to development
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.DEV_HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.DEV_SSH_PRIVATE_KEY }}
          script: cd ${{ secrets.DEV_PROJECT_PATH }} && git checkout dev && git pull && tmux kill-session -t frontend && tmux new-session -s frontend && npm start
